<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#989898">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link rel="stylesheet" type="text/css" href="css/init.css"/>
    <link rel="stylesheet" type="text/css" href="css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="css/mp.css">
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="logo-wrapper">
            <a href="/main"><img src="image/logo_malangbook.png" alt="main-logo"></a>
        </div>
        <div class="search-container">
            <div class="search-wrapper">
                <form method="GET" id="search" action="/search">
                    <input type="image" src="image/ic_main_search.png" name="Submit" value="Submit" id="search-icon" alt="search">
                    <input type="search" name="q" placeholder="책 검색" id="search-input">
                </form>
            </div>
        </div>
    </div>
</header>
<nav>
    <div class="nav-wrapper">
        <ul class="nav-ul">
            <li class="nav-li">
                <a href="/main" style="color: white">홈</a>
            </li>
            <li class="nav-li">
                <a style="color: white">소설</a>
                <ul>
                    <li class="sub-menu-li"><a href="/?nav=sf">SF</a></li>
                    <li class="sub-menu-li"><a href="/?nav=mystery">미스터리</a></li>
                    <li class="sub-menu-li"><a href="/?nav=fantasy">판타지</a></li>
                    <li class="sub-menu-li"><a href="/?nav=serious">시리어스</a></li>
                    <li class="sub-menu-li"><a href="/?nav=comic">코믹</a></li>
                    <li class="sub-menu-li"><a href="/?nav=romance">순애, 로맨스</a></li>
                </ul>
            </li>
            <li class="nav-li">
                <a style="color: white">동화</a>
                <ul>
                    <li class="sub-menu-li"><a href="/?nav=orient">동양권</a></li>
                    <li class="sub-menu-li"><a href="/?nav=occident">서양권</a></li>
                    <li class="sub-menu-li"><a href="/?nav=korean">한국 전래</a></li>
                    <li class="sub-menu-li"><a href="/?nav=made">자작</a></li>
                </ul>
            </li>
            <li class="nav-li">
                <a style="color: white">시</a>
                <ul>
                    <li class="sub-menu-li"><a href="/?nav=free">자유 시</a></li>
                    <li class="sub-menu-li"><a href="/?nav=fixed">정형 시</a></li>
                    <li class="sub-menu-li"><a href="/?nav=prose">산문 시</a></li>
                    <li class="sub-menu-li"><a href="/?nav=lyric">서정 시</a></li>
                    <li class="sub-menu-li"><a href="/?nav=narration">서사 시</a></li>
                    <li class="sub-menu-li"><a href="/?nav=play">극 시</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="title">
        <h1 class="title-main">마이페이지</h1>
        <img class="" src="" alt="">
        <img class="" src="" alt="">
        <h2 class="title-sub">활동 기록</h2>
    </div>
    <div>
        <div class="activity-wrapper">
            <div class="activity-title">
                <div style="font-size: 18px; margin-left: 18px;"><span style="font-size: 24px; color: #a0ca75;">휴모르 스토라제<!-- 작가 이름--></span> 작가님의 활동기록입니다</div>
            </div>
            <div class="activity-info">
                <div class="activity-box">
                    <div class="img-wrapper">
                        <img src="image/ic_log_making.png" alt="making" align="center">
                    </div>
                    <div class="activity-info-title">만든 글</div>
                    <div class="activity-info-data"><%= user.u_bookopen %>개</div>
                </div>
                <div class="activity-box">
                    <div class="img-wrapper">
                        <img src="image/ic_log_participate.png" alt="making" align="center">
                    </div>
                    <div class="activity-info-title">참여 글</div>
                    <div class="activity-info-data"><%= user.u_bookjoin %> 개</div>
                </div>
                <div class="activity-box">
                    <div class="img-wrapper">
                        <img src="image/ic_log_jul.png" alt="making" align="center">
                    </div>
                    <div class="activity-info-title">쓴 줄의 수</div>
                    <div class="activity-info-data"><%= user.u_bookopen %>줄</div>
                </div>
                <div class="activity-box">
                    <div class="img-wrapper">
                        <img src="image/ic_log_sajok.png" alt="making" align="center">
                    </div>
                    <div class="activity-info-title">쓴 사족</div>
                    <div class="activity-info-data"><%= user.u_reply %>번</div>
                </div>
                <div class="activity-box">
                    <div class="img-wrapper">
                        <img src="image/ic_log_like.png" alt="making" align="center">
                    </div>
                    <div class="activity-info-title">추천 받은 횟수</div>
                    <div class="activity-info-data"><%= user.u_recommend %>번</div>
                </div>
            </div>
        </div>
        <!-- 활동기록 데이터 -->
    </div>
</main>
<footer>

</footer>
</body>
</html>