/*header*/
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 100px;
    text-align: center;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
/*모바일 웹*/
@media only screen and (max-device-width: 480px){
    /*header*/
    .header-wrapper{
        display: inline-block;
        height: 100px;
        width: 70%;
    }
    .logo-wrapper{
        display: inline-block;
        float: left;
        padding-top:31px;
        padding-bottom: 31px;
    }
    .search-container{
        float: left;
        display: inline-block;
        height: 38px;
        margin-left: 40px;
        padding-top:31px;
        padding-bottom: 31px;
    }
    .search-wrapper{
        padding-right: 3px;
        padding-left: 3px;
        width: 537px;
        height: 34px;
        border-radius: 8px;
        border: 2px solid #d2d2d2;
    }
    #search-icon{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #search-input{
        margin-top: 8px;
        margin-bottom: 8px;
        color: #d2d2d2;
        float: right;
        display: inline-block;
        width: 90%;
        height: 100%;
        overflow: hidden;
        outline: none;
        border: 0;
    }
    /*nav*/
    nav{
        width: 100%;
        height: 40px;
        text-align: center;
    }
    .nav-wrapper{
        display: inline-block;
        width: 70%;
        height: 100%;
        line-height: 40px;
        background-color: #a4d175;
    }
    .nav-ul{
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        color: white;
    }
    .nav-ul > li {
        margin-left: 20px;
        margin-right: 40px;
    }
    /** 드롭다운 **/
    .nav-wrapper ul ul{
        display: none;
        z-index: 9999;
        padding: 0;
        width: 100px;
        position:absolute;
        list-style: none;
        border: 2px solid #939393;
        background-color: white;
    }
    .nav-wrapper ul li:hover ul{
        color: black;
        display: block;
    }
    .nav-wrapper ul ul li{
        float:none;
    }
    .nav-li:nth-child(1){
        margin-left: 40px;
    }
    .nav-li{
        float: left;
    }
    ul > .sub-menu-li{
        border-bottom: 1px solid #dadada ;
    }
}

/*PC웹*/
@media screen and (min-device-width: 481px)
{
    /*header*/
    .header-wrapper{
        display: inline-block;
        height: 100px;
        width: 70%;
    }
    .logo-wrapper{
        display: inline-block;
        float: left;
        padding-top:31px;
        padding-bottom: 31px;
    }
    .search-container{
        float: left;
        display: inline-block;
        height: 38px;
        margin-left: 40px;
        padding-top:31px;
        padding-bottom: 31px;
    }
    .search-wrapper{
        padding-right: 3px;
        padding-left: 3px;
        width: 537px;
        height: 34px;
        border-radius: 8px;
        border: 2px solid #d2d2d2;
    }
    #search-icon{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #search-input{
        margin-top: 8px;
        margin-bottom: 8px;
        color: #d2d2d2;
        float: right;
        display: inline-block;
        width: 90%;
        height: 100%;
        overflow: hidden;
        outline: none;
        border: 0;
    }
    /*nav*/
    nav{
        width: 100%;
        height: 40px;
        text-align: center;
    }
    .nav-wrapper{
        display: inline-block;
        width: 70%;
        height: 100%;
        line-height: 40px;
        background-color: #a4d175;
    }
    .nav-ul{
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        color: white;
    }
    .nav-ul > li {
        margin-left: 20px;
        margin-right: 40px;
    }
    /** 드롭다운 **/
    .nav-wrapper ul ul{
        display: none;
        z-index: 9999;
        padding: 0;
        width: 100px;
        position:absolute;
        list-style: none;
        border: 2px solid #939393;
        background-color: white;
    }
    .nav-wrapper ul li:hover ul{
        color: black;
        display: block;
    }
    .nav-wrapper ul ul li{
        float:none;
    }
    .nav-li:nth-child(1){
        margin-left: 40px;
    }
    .nav-li{
        float: left;
    }
    ul > .sub-menu-li{
        border-bottom: 1px solid #dadada ;
    }
}

@media screen and (max-width: 1300px) {
    header{
        height: 150px;!important;
    }
    .logo-wrapper{
        padding-bottom: 0;
    }
    .search-container{
        width: 100%;
         margin: 0;
    }
    .search-wrapper{
        width: 98%;
    }
}