/*header*/
header{
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.header_wrapper{
    display: inline-block;
    width: 70%;
    height: 100%;
}
.header_wrapper > div{
    float: left;
}
input{
    border: none;
    height: 100%;
    width: auto;
}

.search_container{
    border: 1px solid;
    border-radius: 5px;
}

/*nav*/
ul{
    list-style: none;
}
li{
    float: left;
}
/*모바일 웹*/
@media only screen and (max-device-width: 480px){
    .search_container{
        display: block;
    }
}

/*PC웹*/
@media screen and (min-device-width: 480px)
{

}