/*header*/
a{
    color: white;
    text-decoration: none;
}
header{
    width: 100%;
    height: 100px;
    text-align: center;
}
/*모바일 웹*/
@media only screen and (max-device-width: 480px){
    .search_container{
        display: inline-block;
    }
    .header_wrapper{
        display: inline-block;
        text-align: center;
        height: 100%;
        width: 80%;
        line-height: 100px;
        padding: 0 10% 0 10%;
    }
    .header_wrapper > div{
        display: inline-block;
    }
    .logo_wrapper{
        display: block;
        float: left;
    }
    .search_container{
        height: 44px;
        width: auto;
        padding:  28px 0 28px 0;

    }
    .search_wrapper{
        height: 40px;
        width: 720px;
        display: inline-block;
        border: 2px solid #989898;
        margin:  8px 0 8px 0;
        border-radius: 10px;
    }
    #search_input{
        padding: 0;
        font-size: 1.2rem;
        border: none;
        height: 24px;
        width: 80%;
        line-height: 24px;
        overflow-x: hidden;
        margin:  8px 0 8px 0;
        outline: none;
        float: left;
    }
    #search_icon{
        margin: 5px 16px 5px 16px;
        height: 32px;
        line-height: 30px;
        float: left;
    }
    /*nav*/
    nav{
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #989898;
    }
    .nav_wrapper{
        display: inline-block;
        width: 70%;
        height: 100%;
        line-height: 40px;
    }
    .nav_ul{
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        color: white;
    }
    .nav_ul > li {
        margin-left: 10px;
        margin-right: 10px;
    }
    li{
        float: left;
    }
}

/*PC웹*/
@media screen and (min-device-width: 480px)
{
    .header_wrapper{
        display: inline-block;
        text-align: center;
        height: 100%;
        width: 80%;
        line-height: 100px;
        padding: 0 10% 0 10%;
    }
    .header_wrapper > div{
        display: inline-block;
    }
    .logo_wrapper{
        display: block;
        float: left;
    }
    .search_container{
        height: 44px;
        width: auto;
        padding:  28px 0 28px 0;

    }
    .search_wrapper{
        height: 40px;
        width: 720px;
        display: inline-block;
        border: 2px solid #989898;
        margin:  8px 0 8px 0;
        border-radius: 10px;
    }
    input{
        padding: 0;
        font-size: 1.2rem;
        border: none;
        height: 24px;
        width: 80%;
        line-height: 24px;
        overflow-x: hidden;
        margin:  8px 0 8px 0;
        outline: none;
        float: left;
    }
    #search_icon{
        margin: 5px 16px 5px 16px;
        height: 32px;
        line-height: 30px;
        float: left;
    }
    /*nav*/
    nav{
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #989898;
    }
    .nav_wrapper{
        display: inline-block;
        width: 70%;
        height: 100%;
        line-height: 40px;
    }
    .nav_ul{
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        color: white;
    }
    .nav_ul > li {
        margin-left: 10px;
        margin-right: 10px;
    }
    li{
        float: left;
    }



}