@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*main과 합치기전에 임시로 쓰는 css파일 입니다.*/
body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    font:14px 'Noto Sans KR', Helvetica,Arial,sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}