.login{
}
.login-input{
    width: 357px;
    height: 48px;
    border: 1px solid #989898;
    border-radius: 6px;
    font-size: 14px;
    padding-left: 12px;
}
.login-facebook{
    width: 100%;
    line-height: 48px;
}
.login-nav{
    margin-bottom: 20px;
}
.login-nav-ul{
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}
.login-nav-ul > li {
    margin-left: 10px;
    margin-right: 10px;
}
.login-nav-li{
    float: left;
}