@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*임시 폰트*/
/***************TEMP********************/
main{
    margin-top: 35px;
}
.main-content{
    display: inline-block;
    width: 70%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.main-library{
    height: 300px;
    margin-bottom: 40px;
}

.library-short{
    padding:36px 53px 36px 44px ;
    width: 90%;
    height: 200px;
    background-image: url("../image/bg_main_checkja.png"); /*DIRECTORY CAUTION*/
    background-size:100% 273px;
    overflow: hidden;
}
.main-library-header{
    height: 16px;
    margin-bottom: 16px ;
}
.main-library-title{
    font-size: 18px;
    float: left;
    margin-left: 17px ;
}
.main-library-more{
    float: right;
    margin-right: 17px;
    font-size: 16px;
    color: #696969;
}
.library-book-wrapper{
    text-align: center;
    float: left;
    margin-right: 5%;
}
.library-book-wrapper:nth-last-child(1){
    margin: 0;
}
.book-babchim{
    width: 171px;
    height: 17px;
    background-image: url("../image/bg_main_babchim.png");
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.book-img{
    width: 121px;
    height:179px;
}
aside{
    float: right;
    display: inline-block;
    width: 28%;
    height: 100%;
}
aside > div{
    float: right;
}
.side-login{
    border: 2px solid #efefef;
    background-color: #f7f7f7;
    width: 288px;
    height: 150px;
    margin-bottom: 13px;
}
.side-login-wrapper{
    font-size: 12px;
    padding: 9px;
}
.form-label{
    text-align: right;
    float: left;
}
.main-login-input{
    width: 137px;
    height: 23px;
    border: 1px solid #989898;
    border-radius: 2px;
    margin: 8px;
}
p.main-form-p > label{
    color: #535353;
    display: inline-block;
}
.main-login-submit{
    height: 23px;
    width: 62px;
    color: white;
    font-size: 10px;
    background-color: #535353;
    border: 1px solid #989898;
    border-radius: 2px;
}
.side-login-menu{
    background-color: white;
    height: 44px;
    width: 288px;
    font-size: 14px;
}
.side-login-menu > div{
    float: left;
    display: inline-block;
}
.login-menu{
    padding: 16px 24px 16px 24px;
}
.login-menu-border{
    padding: 0;
    width: 1px;
    height: 13px;
    background-color: #9a9a9a;
    margin: 16px 0px 15px 0px;
}
.side-write{
    margin-bottom: 13px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #2b3641;
    width: 291px;
    height: 44px;
    line-height: 44px;
    border-radius: 2px;
}
/*******************TODO:img 마진주면 밀림 ********************/
.side-write-img{
    margin: 8px 14px 8px 0px;
}
.side-write-link{
}

.side-top{
    border: 2px solid #efefef;
    width: 288px;
    height: 395px;
}
.side-top-header{
    background-color: #f7f7f7;
    width: 288px;
    height: 51px;
    line-height: 51px;
    font-size: 18px;
}
.side-top-content{
    width: 288px;
    height: 304px;
    font-size: 16px;
    padding: 14px 0px 20px 14px;
}
.side-top-ul{
    margin: 0;
    padding: 0;
}
.side-top-ul > li{
    height: 17px;
    list-style-type: none;
}
.rank{
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #a4d175;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #95be6a;
    float: left;
    margin-right: 15px;
}
.top-title{
    display: block;
    height: 17px;
    width: 215px;
    line-height: 17px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.side-top-li{
    margin-bottom: 11px;
}
.side-top-li:nth-last-child(1){
    margin: 0;
}

/***************TEMP********************/

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    font:14px 'Noto Sans KR', Helvetica,Arial,sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

select{
    width: 144px;
    height: 36px;
    background: url("image/dropdown_menu.png") no-repeat #ffffff 144px 36px;
}
option{
    background-color: white;
    color: black;
}
input[type=radio]{
    display: none;
}
.radio-label{
    float: left;
}
.radio-label {
    display: inline-block;
    width: 60px;
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
}
.radio-input:checked + .radio-label {
    background-color: #ffffff;
}

.radio-label:hover {
    cursor: pointer;
}

.radio-label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.radio-label:last-of-type {
    border-radius: 0 4px 4px 0;
}
.btn-submit{
    width: 144px;
    height: 47px;
    border: none;
    border-radius: 10px;
    background-color: #737373;
    color: white;
}
.btn-submit:hover{
    cursor : pointer;
}
.btn-cancel{
    text-align: center;
    width: 144px;
    height: 47px;
    line-height: 47px;
    border-radius: 10px;
    background-color: #ef5350;
    color: white;
    margin-right: 20px;
}
.btn-cancel:hover{
    cursor: pointer;
}
input[type=number]
{
    font-size: 1.3rem;
    border: 1px solid #989898;
    border-radius: 6px;
    width: 232px;
    height:48px;
}
/*모바일 웹*/
@media only screen and (max-device-width: 480px){
    /*main*/
    main{
        width: 100%;
        height: 100%;
    }
    .content-wrapper{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    #book-form{

    }
    #make-form-title{

    }
}

/*PC웹*/
@media screen and (min-device-width: 481px)
{
    /*main*/
    main{
        width: 100%;
        height: 100%;
    }
    .content-wrapper{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    #book-form{
        padding-bottom: 96px;
        font-size: 24px;
        border-top: 1px solid #989898;
        border-bottom: 1px solid #989898;
    }
    #book-form > div{
        clear: both;
    }
    #make-form-title{
        font-size: 36px;
    }
}





