@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*임시 폰트*/
/***************TEMP********************/
.main-content{
    float: left;
}
.aside{
    float: right;
}

/***************TEMP********************/

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    font:14px 'Noto Sans KR', Helvetica,Arial,sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

select{
    width: 144px;
    height: 36px;
    background: url("image/dropdown_menu.png") no-repeat #ffffff 144px 36px;
}
option{
    background-color: white;
    color: black;
}

.accept{
    text-align: center;
    width: 120px;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    float: left;
    border: 1px solid #989898;
}
.accept::before{
    width: 120px;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
}
.accept:active{

}
.deny{
    float: left;
    text-align: center;
    width: 120px;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    border: 1px solid #989898;
}
.deny::before {
    width: 120px;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    border: 1px solid #989898;
}
.deny:active{

}
input[type=radio]
{
    visibility: hidden;
    margin: 0;
    position: relative;
    left: -244px;
    width: 122px;
    height:50px;
}
input[type=radio]:checked
{
    background-color: #646464;
}

.btn-submit{
    width: 144px;
    height: 47px;
    border: none;
    border-radius: 10px;
    background-color: #737373;
    color: white;
}
.btn-submit:hover{
    cursor : pointer;
}
.btn-cancel{
    text-align: center;
    width: 144px;
    height: 47px;
    line-height: 47px;
    border-radius: 10px;
    background-color: #ef5350;
    color: white;
    margin-right: 20px;
}
.btn-cancel:hover{
    cursor: pointer;
}
input[type=number]
{
    font-size: 1.3rem;
    border: 1px solid #989898;
    border-radius: 6px;
    width: 232px;
    height:48px;
}


/*모바일 웹*/
@media only screen and (max-device-width: 480px){
    /*main*/
    main{
        width: 100%;
        height: 100%;
    }
    .content-wrapper{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    #book-form{

    }
    #make-form-title{

    }
}

/*PC웹*/
@media screen and (min-device-width: 481px)
{
    /*main*/
    main{
        width: 100%;
        height: 100%;
    }
    .content-wrapper{
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }
    #book-form{
        padding-bottom: 96px;
        font-size: 24px;
        border-top: 1px solid #989898;
        border-bottom: 1px solid #989898;
    }
    #book-form > div{
        clear: both;
    }
    #make-form-title{
        font-size: 36px;
    }
}





